{% if wildfly_instances is defined %}
node,appserver_type,appserver_name,appserver_version,java_version,managed_by
{% for item in wildfly_instances %}
{% if item.ensure == 'present' %}
{{ ansible_fqdn }},wildfly,{{ item.name }},{{ item.wildfly_version }},{{ item.java_version }},{{ item.managed_by }}
{% endif %}
{% endfor %}
{% endif %}
