num_cpu=$(lscpu|grep -w '^CPU(s):'|awk '{ print $2 }')
export JAVA_HOME={{ elasticsearch_java_home }}
export ES_USER={{ elasticsearch_user }}
export ES_GROUP={{ elasticsearch_group }}
export ES_NETWORK_HOST={{ elasticsearch_network_host }}
export ES_VERSION={{ elasticsearch_version }}
export ES_HTTP_PORT={{ elasticsearch_port }}
export ES_HOME={{ elasticsearch_home_dir }}
export ES_BASE={{ elasticsearch_base_dir }}
export ES_START_TIMEOUT={{ elasticsearch_starttimeout }}
export ES_STOP_TIMEOUT={{ elasticsearch_stoptimeout }}
export ES_NODE_NAME={{ ansible_hostname }}-{{ elasticsearch_instance_name }}
export ES_SETTINGS=" \
-Enetwork.host=$ES_NETWORK_HOST \
-Ehttp.port=$ES_HTTP_PORT \
-Enode.name=${ES_NODE_NAME} \
"
